

<div class="row">
  <div class="col-6 m-3">
    <h2>Add Player</h2>

    <form #addPlayerForm='ngForm' (submit)="addPlayer()">
      <div class="form-group">
        <label for="playerName">Player Name</label>
        <input type="text" class="form-control" id="playerName" aria-describedby="playerHelp" placeholder="" name="playerName" [(ngModel)]="newPlayer.name" #playerName='ngModel' required minlength='2'>
        <small style="color:red" *ngIf='!playerName.valid' id="playerHelp" class="form-text text-muted">Name must be at least 2 characters in length.</small>
      </div>
      <div class="form-group">
        <label for="playerPosition">Preferred Position</label>
        <input type="text" class="form-control" id="playerPosition" placeholder="" id="playerPosition" name="playerPosition" [(ngModel)]="newPlayer.position">
      </div>
      
      <button [disabled]='!addPlayerForm.form.valid' type="submit" class="btn btn-primary">ADD</button>
    </form>
  </div>
</div>

